# Last subdir is device identity, in case multiple devices
REMOTE_DIR=/volume1/backup/photos/Device_Name

# Comma-separated list
LOCAL_DIRS=~/storage/dcim/Camera,~/storage/dcim/Screenshots,/storage/emulated/0/Pictures/

